<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>BGGTestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e59c76">  <td>19/08/13 20:21:59</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BGGTestOne.beforeTest()[pri:0, instance:BGGTest.BGGTestOne@d35dea7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@758119607</td>   <td></td> </tr>
<tr bgcolor="e59c76">  <td>19/08/13 20:21:59</td>   <td>177</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BGGTestOne.f()[pri:0, instance:BGGTest.BGGTestOne@d35dea7]">f</td> 
  <td>main@758119607</td>   <td></td> </tr>
</table>
