<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7a66ec">  <td>19/08/16 15:24:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BGGTestOne.afterTest(org.testng.ITestResult)[pri:0, instance:bGGTests.BGGTestOne@6aaceffd]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td>  <td>main@1595282218</td>   <td></td> </tr>
<tr bgcolor="7a66ec">  <td>19/08/16 15:23:48</td>   <td>-30469</td> <td>&nbsp;</td><td title="&gt;&gt;BGGTestOne.beforeTest()[pri:0, instance:bGGTests.BGGTestOne@6aaceffd]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1595282218</td>   <td></td> </tr>
<tr bgcolor="7a66ec">  <td>19/08/16 15:23:53</td>   <td>-25450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BGGTestOne.languageDependanceTest()[pri:0, instance:bGGTests.BGGTestOne@6aaceffd]">languageDependanceTest</td> 
  <td>main@1595282218</td>   <td></td> </tr>
</table>
